@import "../bootstrap/variables.less";

.text-gray-darker
{
	color: @gray-darker;
}
.text-gray-dark
{
	color: @gray-dark;
}
.text-gray
{
	color: @gray;
}
.text-gray-light
{
	color: @gray-light;
}
.text-gray-lighter
{
	color: @gray-lighter;
}

.btn-small {
    padding: 0 5px;
}

tr
{
	td.hover-show > *
	{
		visibility: hidden;
	}
	&:hover td.hover-show > *
	{
		visibility: initial;
	}
}